<p id="notice"><%= notice %></p>

<p>
  
  <h1><%= @list.title %></h1>
	<small> <%= @list.items.where(completed: true).count%> of <%= @list.items.count %></small>
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
</p>

<p>
	<small>  <%= @list.content %></small>
</p>


<%= render @list.items %> 

<%= render "items/form" %>


